<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/app.css' }}">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <div class="w-full fixed menubar">
                <div class="w-11/12 mx-auto flex justify-between items-center py-6">
                    <div>
                        <img class="w-32 h-16" src="{{ settings:logo }}" alt="">
                    </div>
                    <div class="nav-wrapper">
                        <div class="inner-wrapper">
                            <img class="w-32 h-16 mobile-nav-logo <md:hidden" src="{{ settings:logo_white }}" alt="">
                            <span class="menu-close-trigger <md:hidden">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>                              
                            </span>
                            <ul class="flex flex-row items-center main-nav">
                                <li> <a href="#about">Over ons</a></li>
                                <li> <a href="#werkwijze">Werkwijze</a> </li>
                                <li> <a href="#behandelingen">Behandelingen</a> </li>
                                <li> <a href="#contact">Contact</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <a class="text-primary md:hidden" href="#contact_form">Vrijblijvend kennismakingsgesprek?</a>
                        <span class="mobile-menu-trigger <md:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Floating contact element -->
            <div class="fixed right-10 bottom-10 z-[999] flex flex-row justify-end items-center md:hidden">
                <ul class=" flex flex-row rounded-full bg-white px-6 py-3 transform translate-x-6 z-20 shadow-xl shadow-primary/15">
                    <li>
                         <a class="flex justify-start items-center font-light text-black hover:text-black" href="tel:{{ settings:phone }}">
                              <span class="mr-4 inline-block">
                                   <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20.92 20.92">
                                        <path id="phone" d="M17,14l-2.9,1.9a15.7,15.7,0,0,1-6-6L10,7,8,2H4L2.1,3.9a20,20,0,0,0,18,18L22,20V16Z" transform="translate(-1.58 -1.5)" fill="none" stroke="#827855" stroke-miterlimit="10" stroke-width="1"/>
                                   </svg>                                           
                              </span>
                         </a>
                    </li>
                    <li class="ml-3">
                         <a class="flex justify-start items-center font-light text-black" href="mailto:{{ settings:email }}">
                              <span class="mr-4 inline-block">
                                   <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 21 21">
                                        <g id="at" transform="translate(-1.5 -1.5)">
                                             <circle id="Ellipse_3" data-name="Ellipse 3" cx="4" cy="4" r="4" transform="translate(8 8)" fill="none" stroke="#827855" stroke-width="1"/>
                                             <path id="Path_10" data-name="Path 10" d="M16,8v5a3,3,0,0,0,6,0V12A10,10,0,1,0,12,22a9.8,9.8,0,0,0,6.1-2.1" fill="none" stroke="#827855" stroke-width="1"/>
                                        </g>
                                   </svg>                                                                                           
                              </span>
                         </a>
                    </li>
               </ul>
                <span class="w-20 h-20 rounded-full bg-cover bg-center relative z-30" style="background-image: url({{ settings:contact_image }});"></span>
            </div>
            {{ template_content }}
            {{ partial:partials/footer }}
        </div>
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
